<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>404 </title>
    <link rel="stylesheet" href="/404.css">
</head>

<body>
    <script type="text/javascript" src="http://tiankun.me/signature.js"></script>
</body>

</html>